:root {
  /* cyan/slate */
  --main-color: #11a3bd;
  /* --secondary-color: #020617; */
  --secondary-color: white;

  --secondary-text: rgb(83, 83, 83);
}

html {
  font-size: 16px; /* Default */
}

/* Global styles (mobile-first) */
body {
  background-color: var(--secondary-color);
  margin: 0;
  height: 100vh;
  font-family: "Roboto", serif;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

/* HEADER STYLES */

.slanted-background-shape {
  position: absolute;
  background-color: var(--main-color);
  height: 1000px;
  width: 100%;
  transform: skewY(-35deg) translateY(-650px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

header {
  display: grid;
  grid-column: 1fr;
  grid-auto-rows: 0fr;
  justify-items: center;
}

.portrait-container {
  display: grid;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.portrait-container > img {
  width: 100%;
  height: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
}

.name {
  color: white;
  font-size: 16.5vw;
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
  margin: 0 10%;
}

.about-container {
  display: grid;
  margin: 0 6%;
  margin-bottom: 100px;
}

/* make fontsize reponsive? */
.about-container > h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 0;
}

.about-container > p {
  color: var(--secondary-text);
  font-size: 2rem;
  margin: 16px 0;
}

.social-media-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

header .social-media-container > i {
  font-size: 2.5rem;
}

/* MAIN ELEMENT STYLES */

main {
  margin-bottom: 160px;
}

main > h1 {
  margin: 0;
  text-align: center;
  font-size: 3rem;
}

.projects-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-item {
  max-width: 500px;
  margin: 36px 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.project-img {
  background-color: rgb(114, 100, 203);
  color: white;
  width: 100%;
  height: 325px;
  font-size: 3rem;

  display: grid;
  text-align: center;
  place-items: center;
}

.project-details {
  height: 200px;
  margin: 0 24px;
}

.project-name-container {
  display: flex;
  margin: 16px 0;
}

.project-name-container > h2 {
  margin: 0;
  font-size: 1.8rem;
  flex: 1;
}

.external-link-svg,
.github-svg {
  width: 1.8rem;
  margin-left: 16px;
}

.project-description {
  color: var(--secondary-text);
  font-size: 1.3rem;
  font-weight: 400;
}

/* FOOTER STYLES */

footer {
  background-color: var(--main-color);
  color: white;
}

footer section {
  display: grid;
  margin: 0 24px;
  margin-bottom: 100px;
}

footer section h1 {
  margin: 16px;
  margin-top: 24px;
  font-size: 3.5rem;
  text-align: center;
}

.contact-description {
  margin-top: 0;
  font-size: 1.6rem;
}

.contact-address,
.contact-phone-email {
  font-size: 1.3rem;
}

footer .social-media-container i {
  font-size: 3.5rem;
  color: black;
}

.footer-portrait {
  height: 500px;
}

.footer-portrait > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tablet styles */
@media (min-width: 768px) {
  /* main {
    margin: 0 24px;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  } */
}

/* Desktop styles */
@media (min-width: 1024px) {
}
